%p
  = f.label :roles_ids, t('roles'), :class => 'select'
  = f.collection_select :role_ids, Role.find(:all, :order => 'name ASC'), :id, :name, {:selected => @user.role_ids}, {:multiple => true, :name => 'user[role_ids][]',  :class => 'select'}
